<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
</head>
<body>
    <p>
        Introduction
        The following terms and conditions govern all use of the Ask WISE app and all content, services, and products available at or through the app (taken together, the Service). The Service is owned and operated by Whiskey Whiskers. The Service is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Ask WISE's Privacy Policy) and procedures that may be published from time to time on this Site by Whiskey Whisker (collectively, the Agreement).
    
        Use of the Service
        You represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You agree to use the Service only for lawful purposes and in accordance with the Agreement.
    
        User Conduct
        You agree not to, and not to allow third parties to: (i) transmit any content or information that is infringing, libelous, defamatory, obscene, pornographic, abusive, offensive or otherwise violates any law or right of any third party, (ii) use the Service for any fraudulent or inappropriate purpose, (iii) interfere with the proper functioning of the Service, (iv) make any unauthorized use of the Service, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email or unauthorized framing of or linking to the Service.
    
        Disclaimer of Warranties
        Whiskey Whiskers makes no representations or warranties of any kind, express or implied, as to the operation of the Service or the information, content, materials or products included on the Service. To the full extent permissible by applicable law, Whiskey Whiskers disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose. Whiskey Whiskers will not be liable for any damages of any kind arising from the use of the Service, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.
    
        Limitation of Liability
        In no event shall Whiskey Whiskers, its affiliates, or their respective officers, directors, employees, agents, suppliers or licensors be liable to you or any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not Whiskey Whiskers has been advised of the possibility of such damages, or based on any theory of liability, including breach of contract or warranty, negligence or other tortious action, or any other claim arising out of your use of the Service.
    
        Changes to the Terms of Service
        Whiskey Whiskers reserves the right, at its sole discretion, to modify or replace the Agreement at any time. If a revision is material, Whiskey Whiskers will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at [Your Company Name]'s sole discretion.
    
        Indemnification
        You agree to indemnify and hold Whiskey Whiskers, its affiliates, and their respective officers, agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the Service in violation of this Agreement and/or arising from a breach of these terms of this Agreement and/or any breach of your representations and warranties set forth above.
    
    </p>
    
</body>
</html>